*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*common*/
.clear {
    clear: both;
}
.text-white{
    color: white;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif ;   /* khong nen dung trong * vi * se style cho tat ca the div, html chi style chu*/
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;     /*day la pseudo element, thay the cho class clear -> khong can them div clear vao cuoi nua*/
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-2{
    width:50%;
}
.col-3{
    width:33.3333%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
/*main*/
#wrapper{

}
#header{
    height: 46.4px;                        /* width thi mac dinh la 100% wrapper*/
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;   /*de phan nav khong chiem het header*/
}
#nav, .subnav{
    list-style-type: none; /*xoa bo dau cham khi co list (default)*/
}
#nav >li {
    display: inline-block;  /*chuyen tu dang display list sang thanh 1 hang ngang*/
    font-size: 15px;
}
#nav li {

    position: relative;
}
#nav>li>a {
    color: #fff; /*mau chu*/
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none; /*xoa gach chan duoi chu*/
    line-height: 46.4px;        /*height khi boi vao chu*//*tu dong de chu vo giua lineheight*/
    padding: 0 24px;            /*tao khoang cach giua cac chu*/
    display: block;   /*bo cai nay de khi hover thi hover ca a lan padding cua a, default la inline khong an theo lineheight*/
} /*block ke thua dai rong cua th cha, TH nay la li(height 46.4px)*/
#nav .subnav li:hover a,  /*khi hover vào con của more thì mới có hiệu ứng, nếu kh có dòng này thì hover more là hover luôn 3 th con*/
#nav >li:hover> a{                /*hover cac the a la con cua #nav li*/
    color: #000!important;            /*inspect nut xong vo tab style, click hover de xem mau hover*/
    background-color: #ccc!important;
}
#nav li:hover .subnav{
    display: block; /*hien ra khi hover*/
}
#nav .subnav {
    display: none;     /*giau di menu cua more*/
    min-width: 160px;      /*do ngang toi thieu cua menu cap 2*/
    position: absolute;             /*tìm thấy th cha là li có position nên sẽ chỉ hiện xung quanh li*/
    top :100%; /*cach top 100% chieu doc cua thang cha*/
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000; /*màu chữ 3 th con more*/
    padding: 0 16px;
    line-height: 38px;
}
#nav .more-down-icon{
    font-size: 14px;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer; /*cursor mac dinh la chi hien thi khi de chuot vo nen kh can de vo hover cung dc, nhg de vo hover thi ro y hon*/

}

#header .mobile-menu-btn{
    display: none; /*khi ở pc thì ẩn nút menu*/
    position: absolute; /*sửa lỗi nút menu bị đá xuống dưới, cho làm absolute để di chuyển dựa vô thẻ cha*/
    top: 0;     /*cho nút menu dính lên mép trên phải*/
    right: 0; 
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;

}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;

}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon{
    color:white;
    font-size: 20px;
    line-height: 46px;   
}



#slider{
    position: relative;
    margin-top: 46px; /*de slider khong chiem luon header, vi khi header fixed thi header se noi len, va slider se chiem luon cho do*/
    padding-top: 50%; /*chieu cao = 50% chieu ngang cua chinh no*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    text-align: center;
    width: 100%;
}
#slider .text-heading {
    font-size: 24px;
    font-weight: 500; /* font weight co gtri tu 100 toi 700*/
}
#slider .text-describe {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px black; /*62 làm cho chữ trong slider có bóng dễ đọc hơn*/
}



#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;   /*responsive tablet, dòng này mạnh hơn dòng trên, khi ở tablet kh đủ 800px thì sẽ set thành 100%*/
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;     /*responsive tablet, khi làm row thì ở trên thì -8px nên phải sửa lại*/
    padding-right: 16px;   /*responsive tablet*/
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
}
#content .section-subheading{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6; /*co gtri tu 0-1, do trong suot*/
}
#content .about{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 22.5px;  /*thuong de 1.4 hoac 1.6*/   
}
#content .member-list{
    margin-top: 47px;
}
#content .member-item{
    text-align: center; /*can giua ca name voi img*/
    /* float: left;
    width: calc(100%/3);  dan` 3 cai hinh ra deu, moi cai 33.33%, 3 cai la 100% */
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px; /*tao duong bo o goc anh*/
}


.tour-background { 
    background-color: black;
}
.ticket-list {
    background-color: white;
    margin-top: 40px;
}
.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;    /*tạo ra đường ngăn giữa các dòng*/
    list-style-type: none;
}
.ticket-list .soldout{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;  /*tạo hình tròn*/
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places{
    /*margin: 32px -8px 0;*/
    margin-top: 16px; /*#58 để 16 th còn bên kia trong các place thì nhét thêm class mt-16 (ban đầu là 32)*/
    padding-bottom: 15px;
}
/* .place-item{
    float: left;
    width: 33.3333%;
    padding: 0 8px;
} */
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-head{
    font-size: 15px;
    font-weight: 550;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-info{
    margin-top: 15px;
    line-height: 1.4;
}
.place-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
    appearance: none;           /*#61 trên mobile thì các trình duyệt sẽ có css cho các nút thì nên set thành none, áp dụng css của mình th*/
    -webkit-appearance: none;   /*này dành cho iphone safari, còn dòng trên xài cho các trình duyệt khác*/
}
.place-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal .modal-container {
    background:  #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.4s;  /*create animation wen open the model*/
}

@keyframes modalFadein{
    from {
        opacity: 0;  /*from freakin invisible*/
        transform: translateY(-400px);
    }
    to{
        opacity: 1; /*to clear n shoulder*/
        transform: translateY(0);
    }
}

.modal .modal-close{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 18px;
    cursor: pointer;
}
.modal .modal-close:hover {
    opacity: 1;
    background: #ccc;
    color: #000;
}

.modal .modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}

.modal .modal-heading-icon{
    margin-right: 16px;
}

.modal .modal-body {
    padding: 16px;
}

.modal .modal-label{
    display: block;  /*cho dòng chữ nằm thành 1 block,It starts on a new line, and takes up the whole width*/
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: bold;
}

.modal .modal-input{
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-btn{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-btn:hover{
    cursor: pointer;
    background: #ccc;
    color: #000;
}

.modal .modal-footer{
    padding: 16px;
    text-align: right;

}
.modal .modal-footer a {
    color: #2196f3;
}



.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;

}
.contact-info a{
    color: #101aef;
    opacity: 0.7;
}
.contact-info a:hover{
    opacity: 1;
}


.contact-info i[class*="ti-"]{   /*select các i có class="ti-"*/
    width: 30px;
    display: inline-block; /*tao khoang cach giua icon va chu*/
}
.user-form{
    font-size: 15px;
}
.user-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.user-form .contact-submit{
    color: #fff;
    background: #000;
    border: none;
    padding: 10px 16px;
    float: right;
}
.user-form .contact-submit:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.map-section img{
    width: 100%;

}

#footer{
    padding: 64px 16px;
    text-align: center;

}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

#footer .copy-right a:hover,
#footer .social-list a:hover{
    color: rgba(0,0,0,0.4);
}

#footer .copy-right{
    color: rgba(0,0,0,0.6);
    margin-top: 15px;
}
#footer .copy-right a {
    color: rgba(0,0,0,0.6);
}
